<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/preproject</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">fatumepta</property>
        <property name="connection.password">qwerty</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!--        <property name="hibernate.hbm2ddl.auto">validate</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <mapping class="models.User"/>
    </session-factory>
</hibernate-configuration>